h1{
    font-size:40px;
}
.bildeoverskrift{
    position: relative;
}
.bildeoverskrift img{
    margin: 1px 1px 2px 0px;
    height: 855px;
    width: 1600px;
}
.venstreTekst{
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(255, 255, 255);
}
.høyereTekst{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: rgb(255, 255, 255);
}
.hovedoverskrift{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 

}
.column{
    float: left;
}
.left {
    width: 75%;
  }
  
  .right {
    width: 25%;
  }