h1{
    font-size:40px;
}
.bildeoverskrift{
    position: relative;
}
.bildeoverskrift img{
    margin: 1px 1px 2px 0px;
    height: 855px;
    width: 1600px;
    display:block;
    margin:0 auto;
}
.venstreTekst{
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(255, 255, 255);
    max-width: 390px;
}
.høyereTekst{
    position: absolute;
    bottom: 15px;
    left: 1380px;
    color: rgb(255, 255, 255);
    max-width: 200px;
}
.hovedoverskrift{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
    text-align:justify;
    width:1600px;
    position:relative;
    margin:0 auto;
}
.column{
    float: left;
}
.left {
    width: 75%;
  }
  
  .right {
    width: 25%;
  }